#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
*.xcbkptlist
*.xcsettings
*.xcbkptlist
*.xcbkptlist
WW-app.xcodeproj/xcuserdata/tylermartin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
amplify/team-provider-info.json
amplify/README.md
amplify/hooks/README.md
amplify/cli.json
amplify/backend/types/amplify-dependent-resources-ref.d.ts
amplify/backend/tags.json
amplify/backend/backend-config.json
amplify/backend/auth/wwapp07f8a68a/cli-inputs.json
amplify/backend/api/wwapp/transform.conf.json
amplify/backend/api/wwapp/stacks/CustomResources.json
amplify/backend/api/wwapp/schema.graphql
amplify/backend/api/wwapp/resolvers/README.md
amplify/backend/api/wwapp/parameters.json
amplify/backend/api/wwapp/cli-inputs.json
amplify/.config/project-config.json
graphql/mutations.graphql
graphql/queries.graphql
graphql/schema.json
graphql/subscriptions.graphql
WW-app.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
WW-app.xcodeproj/xcuserdata/tylermartin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.csv
*.xcbkptlist
WW-app.xcodeproj/xcuserdata/tylermartin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
WW-app.xcodeproj/xcuserdata/tylermartin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.pyc
